In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

# Step 1: Load the dataset
df = pd.read_csv('Churn_Modelling.csv')

# Step 2: Drop unnecessary columns
df.drop(columns=['Surname', 'RowNumber', 'CustomerId'], inplace=True)

# Step 3: Separate the target variable (y) and features (X)
y = df['Exited'].values
X = df.drop(columns=['Exited'])

# Step 4: One-Hot Encoding for categorical variables
categorical_cols = ['Geography', 'Gender']
encoder = OneHotEncoder(drop='first')
X_encoded = encoder.fit_transform(X[categorical_cols])
encoded_feature_names = encoder.get_feature_names_out(categorical_cols)
X_encoded_df = pd.DataFrame(X_encoded.toarray(), columns=encoded_feature_names)
X = X.drop(columns=categorical_cols)
X = pd.concat([X, X_encoded_df], axis=1)

# Step 5: Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Step 6: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Step 7: Initialize the model
model = Sequential()

# Step 8: Add layers to the model
model.add(Dense(128, activation="relu", input_dim=11))  # Hidden layer with 128 neurons and ReLU activation
model.add(Dense(32, activation="sigmoid"))  # Hidden layer with 32 neurons and sigmoid activation
model.add(Dense(1, activation="sigmoid"))  # Output layer with 1 neuron and sigmoid activation for binary classification

# Step 9: Compile the model
model.compile(optimizer='Adam', loss='binary_crossentropy', metrics=['accuracy'])

# Step 10: Train the model
history = model.fit(X_train, y_train, epochs=50)

# Step 11: Evaluate the model and print accuracy
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss}")
print(f"Test Accuracy: {accuracy}")

c:\Users\bhuvn\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7677 - loss: 0.5076
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8274 - loss: 0.4068
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8406 - loss: 0.3885
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8547 - loss: 0.3530
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8639 - loss: 0.3384
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8553 - loss: 0.3514
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8607 - loss: 0.3452
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8598 - loss: 0.3321
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8642 - loss: 0.3352
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8601 - loss: 0.3399
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8600 - loss: 0.3379
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8594 - loss: 0.3337
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8635 - loss: 0.3284
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8646 - loss: 0.3272
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8621 - loss: 0.3301
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8703 - loss: 0.3134
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8633 - loss: 0.3313
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8655 - loss: 0.3252
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8677 - loss: 0.3147
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8723 - loss: 0.3155
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8715 - loss: 0.3127
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8658 - loss: 0.3223
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8682 - loss: 0.3215
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8645 - loss: 0.3229
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8735 - loss: 0.3113
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8704 - loss: 0.3149
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8725 - loss: 0.3101
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8657 - loss: 0.3100
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8721 - loss: 0.3120
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8750 - loss: 0.3136
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8757 - loss: 0.3067
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8748 - loss: 0.3090
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8745 - loss: 0.3147
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8721 - loss: 0.3092
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8813 - loss: 0.2973
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8742 - loss: 0.2997
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8718 - loss: 0.3096
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8768 - loss: 0.3038
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - accuracy: 0.8693 - loss: 0.3032
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8774 - loss: 0.2936
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8755 - loss: 0.3071
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8755 - loss: 0.2993
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8768 - loss: 0.2995
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8806 - loss: 0.2905
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8797 - loss: 0.2952
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8838 - loss: 0.2960
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8810 - loss: 0.2917
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8758 - loss: 0.3011
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8805 - loss: 0.2927
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8806 - loss: 0.2928
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8638 - loss: 0.3383
Test Loss: 0.34405556321144104
Test Accuracy: 0.862500011920929

# Different Types of Encoding :

### **Encoders in Machine Learning**  
Encoders are used to transform categorical data into numerical formats so that machine learning models can process them effectively. Below are different types of encoders, their pros and cons, when to use them, and examples using a simple dataset.

---

## **1. One-Hot Encoding (OHE)**
### **How it works?**
One-hot encoding converts categorical values into binary vectors where only one bit is "1" and others are "0".

### **Example**  
| Color | One-Hot Encoding |
|--------|----------------|
| Red    | [1, 0, 0]      |
| Green  | [0, 1, 0]      |
| Blue   | [0, 0, 1]      |

### **Pros & Cons**
✅ **Pros:**  
- No ordinal relationship introduced between categories.  
- Works well for low-cardinality categorical data.  

❌ **Cons:**  
- High memory usage when the number of categories is large (curse of dimensionality).  

### **When to use?**
- Use when categorical variables **don’t have an inherent order** (e.g., colors, countries).  
- Avoid it when the number of unique categories is too high.  

### **Implementation in Python**
```python
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Sample dataset
df = pd.DataFrame({'Color': ['Red', 'Green', 'Blue', 'Red', 'Green']})

# Initialize encoder
encoder = OneHotEncoder(sparse_output=False)  # Set sparse_output=True for sparse matrix

# Transform data
encoded_data = encoder.fit_transform(df[['Color']])
print(encoded_data)
```

---

## **2. Label Encoding**
### **How it works?**
Label encoding assigns an integer to each unique category.

### **Example**  
| Color  | Label Encoding |
|--------|---------------|
| Red    | 0             |
| Green  | 1             |
| Blue   | 2             |

### **Pros & Cons**
✅ **Pros:**  
- Memory-efficient (only one column).  

❌ **Cons:**  
- Introduces an ordinal relationship (e.g., Red < Green < Blue), which may not be meaningful.  

### **When to use?**
- Use when categorical data has a **natural order** (e.g., "Low", "Medium", "High").  
- Avoid when categories are **unordered** to prevent misleading results.  

### **Implementation in Python**
```python
from sklearn.preprocessing import LabelEncoder

# Initialize encoder
encoder = LabelEncoder()

# Transform data
encoded_data = encoder.fit_transform(df['Color'])
print(encoded_data)
```

---

## **3. Ordinal Encoding**
### **How it works?**
Assigns ordered integer values to categories based on predefined ranks.

### **Example**  
| Size   | Ordinal Encoding |
|--------|----------------|
| Small  | 0              |
| Medium | 1              |
| Large  | 2              |

### **Pros & Cons**
✅ **Pros:**  
- Keeps the ordinal relationship intact.  
- Memory-efficient.  

❌ **Cons:**  
- Can introduce misleading ordinal relationships if categories have no inherent order.  

### **When to use?**
- Use when **categories have a meaningful order** (e.g., Education Level, Size).  
- Avoid when there is **no logical order** in categories.  

### **Implementation in Python**
```python
from sklearn.preprocessing import OrdinalEncoder

# Sample dataset
df = pd.DataFrame({'Size': ['Small', 'Medium', 'Large', 'Medium', 'Small']})

# Define order
encoder = OrdinalEncoder(categories=[['Small', 'Medium', 'Large']])

# Transform data
encoded_data = encoder.fit_transform(df[['Size']])
print(encoded_data)
```

---

## **4. Frequency Encoding**
### **How it works?**
Replaces categories with their frequency in the dataset.

### **Example**  
| City   | Frequency Encoding |
|--------|--------------------|
| NY     | 3                 |
| LA     | 2                 |
| SF     | 1                 |

### **Pros & Cons**
✅ **Pros:**  
- Low memory consumption.  
- Can be useful when category frequency matters.  

❌ **Cons:**  
- May not be meaningful for all types of data.  

### **When to use?**
- Use when category frequency provides useful information (e.g., popular products).  

### **Implementation in Python**
```python
df = pd.DataFrame({'City': ['NY', 'LA', 'SF', 'NY', 'NY', 'LA']})

# Compute frequency
df['City_encoded'] = df['City'].map(df['City'].value_counts())
print(df)
```

---

## **5. Target Encoding (Mean Encoding)**
### **How it works?**
Replaces categories with the mean of the target variable.

### **Example** (Target: House Prices)  
| Neighborhood | Avg. Price (Target Encoding) |
|-------------|----------------------------|
| A           | 300K                        |
| B           | 500K                        |
| C           | 700K                        |

### **Pros & Cons**
✅ **Pros:**  
- Captures relationships between categories and target.  
- Memory-efficient.  

❌ **Cons:**  
- Can lead to data leakage if applied before splitting into train-test sets.  

### **When to use?**
- Use in **regression tasks** when the category has a direct impact on the target variable.  

### **Implementation in Python**
```python
df = pd.DataFrame({'Neighborhood': ['A', 'B', 'C', 'A', 'B'],
                   'Price': [300, 500, 700, 320, 510]})

# Compute target encoding
encoding_map = df.groupby('Neighborhood')['Price'].mean()
df['Neighborhood_encoded'] = df['Neighborhood'].map(encoding_map)
print(df)
```

---

## **6. Binary Encoding**
### **How it works?**
Converts categories to binary format and stores them in multiple columns.

### **Example**  
| Category | Binary Encoding |
|----------|----------------|
| A        | 01             |
| B        | 10             |
| C        | 11             |

### **Pros & Cons**
✅ **Pros:**  
- Reduces dimensionality compared to One-Hot Encoding.  

❌ **Cons:**  
- Less interpretable than One-Hot Encoding.  

### **When to use?**
- Use when **One-Hot Encoding is too memory-intensive** but you still want a categorical representation.  

### **Implementation in Python**
```python
from category_encoders import BinaryEncoder

df = pd.DataFrame({'Category': ['A', 'B', 'C', 'A', 'C']})

# Initialize encoder
encoder = BinaryEncoder(cols=['Category'])

# Transform data
encoded_data = encoder.fit_transform(df)
print(encoded_data)
```

---

## **Final Summary**
| **Encoding Type** | **When to Use?** | **Pros** | **Cons** |
|------------------|-----------------|---------|---------|
| One-Hot Encoding | Low-cardinality categorical data | Simple, avoids ordinal relationships | High dimensionality for many categories |
| Label Encoding | Ordered categories | Memory efficient | Can mislead models due to order |
| Ordinal Encoding | Categories with natural order | Maintains ranking | May not be valid for non-ordinal data |
| Frequency Encoding | When frequency matters | Low memory, captures distribution | May not be meaningful always |
| Target Encoding | Categorical features affecting target | Uses target info | Prone to data leakage |
| Binary Encoding | Large categorical datasets | Lower dimensionality than OHE | Less interpretable |

In [2]:
# One Hot Encoding
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Sample dataset
df = pd.DataFrame({'Color': ['Red', 'Green', 'Blue', 'Red', 'Green']})

# Initialize encoder
encoder = OneHotEncoder(sparse_output=False) 

# Transform data
encoded_data = encoder.fit_transform(df[['Color']])
print(encoded_data)

[[0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]]

In [3]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder

# Initialize encoder
encoder = LabelEncoder()

# Transform data
encoded_data = encoder.fit_transform(df['Color'])
print(encoded_data)

[2 1 0 2 1]

In [4]:
# Ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder

# Sample dataset
df = pd.DataFrame({'Size': ['Small', 'Medium', 'Large', 'Medium', 'Small']})

# Define order
encoder = OrdinalEncoder(categories=[['Small', 'Medium', 'Large']])

# Transform data
encoded_data = encoder.fit_transform(df[['Size']])
print(encoded_data)

[[0.]
 [1.]
 [2.]
 [1.]
 [0.]]

In [5]:
# Frequency Encoding
df = pd.DataFrame({'City': ['NY', 'LA', 'SF', 'NY', 'NY', 'LA']})

# Compute frequency
df['City_encoded'] = df['City'].map(df['City'].value_counts())
print(df)

  City  City_encoded
0   NY             3
1   LA             2
2   SF             1
3   NY             3
4   NY             3
5   LA             2

In [6]:
# Target Encoding
df = pd.DataFrame({'Neighborhood': ['A', 'B', 'C', 'A', 'B'],
                   'Price': [300, 500, 700, 320, 510]})

# Compute target encoding
encoding_map = df.groupby('Neighborhood')['Price'].mean()
df['Neighborhood_encoded'] = df['Neighborhood'].map(encoding_map)
print(df)

  Neighborhood  Price  Neighborhood_encoded
0            A    300                 310.0
1            B    500                 505.0
2            C    700                 700.0
3            A    320                 310.0
4            B    510                 505.0

### **`pd.get_dummies()` in Pandas** 🚀

`pd.get_dummies()` is a simple way to perform **One-Hot Encoding (OHE)** in Pandas. It converts categorical variables into numerical columns, creating a new binary column for each unique category.

---

### **🔹 How It Works?**
For each unique category in a column, `get_dummies()` creates a new column filled with **1s (presence)** and **0s (absence)**.

#### **Example**:
```python
import pandas as pd

# Sample dataset
df = pd.DataFrame({'Color': ['Red', 'Green', 'Blue', 'Red', 'Green']})

# Apply get_dummies
encoded_df = pd.get_dummies(df, columns=['Color'])

print(encoded_df)
```

#### **Output**:
```
   Color_Blue  Color_Green  Color_Red
0           0           0          1
1           0           1          0
2           1           0          0
3           0           0          1
4           0           1          0
```
Each original category gets a separate column, and the row is marked `1` if that category is present.

---

### **🔹 Handling Multiple Categorical Columns**
If you have multiple categorical columns:
```python
df = pd.DataFrame({
    'Color': ['Red', 'Green', 'Blue', 'Red'],
    'Size': ['Small', 'Large', 'Medium', 'Small']
})

encoded_df = pd.get_dummies(df, columns=['Color', 'Size'])
print(encoded_df)
```

---

### **🔹 Drop First Category (Avoid Dummy Variable Trap)**
If you have `n` categories, you only need `n-1` dummy variables. Use `drop_first=True` to drop one:
```python
encoded_df = pd.get_dummies(df, columns=['Color'], drop_first=True)
```

This avoids **multicollinearity** in regression models.

---

### **🔹 Pros & Cons of `get_dummies()`**
✅ **Pros**:
- Simple and fast.
- Works well for small datasets.
- Built-in Pandas function, so no extra dependencies.

❌ **Cons**:
- High cardinality (many unique categories) leads to **many columns** (Curse of Dimensionality).
- Not useful for **ordinal** data (e.g., "Low", "Medium", "High").
- Cannot be directly used with some ML models due to high dimensions.

---

### **🔹 When to Use `get_dummies()`?**
- When categorical features have **low cardinality** (few unique values).
- When using models that **don’t understand categorical data natively** (e.g., Linear Regression, SVM, Neural Networks).
- When you want an easy-to-use alternative to `OneHotEncoder`.

---

In [12]:
df = pd.DataFrame({
    'Color': ['Red', 'Green', 'Blue', 'Red'],
    'Size': ['Small', 'Large', 'Medium', 'Small']
})

encoded_df = pd.get_dummies(df, columns=['Color', 'Size'])
print(encoded_df)

   Color_Blue  Color_Green  Color_Red  Size_Large  Size_Medium  Size_Small
0       False        False       True       False        False        True
1       False         True      False        True        False       False
2        True        False      False       False         True       False
3       False        False       True       False        False        True

### **Comparison: `pd.get_dummies()` vs. `OneHotEncoder`** 🚀

Both `pd.get_dummies()` (Pandas) and `OneHotEncoder` (from Scikit-learn) are used for **One-Hot Encoding (OHE)**, but they have key differences in implementation and use cases.

---

## **🔹 `pd.get_dummies()`**
✅ **Pros:**
- **Easier to use** (one line of code).
- Works directly on **DataFrames**.
- Automatically assigns column names.

❌ **Cons:**
- Cannot handle **new unseen categories** in test data.
- Works only with **DataFrames**, not NumPy arrays.

### **Example using `get_dummies()`**
```python
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({'Color': ['Red', 'Green', 'Blue', 'Red', 'Green']})

# One-Hot Encoding using get_dummies
encoded_df = pd.get_dummies(df, columns=['Color'], drop_first=True)  # Drop first to avoid dummy variable trap

print(encoded_df)
```
#### **Output**:
```
   Color_Green  Color_Red
0           0          1
1           1          0
2           0          0
3           0          1
4           1          0
```
👉 `drop_first=True` removes one column to avoid multicollinearity.

---

## **🔹 `OneHotEncoder` (from Scikit-learn)**
✅ **Pros:**
- Handles **unseen categories** gracefully with `handle_unknown='ignore'`.
- Can be used in **pipelines** for Machine Learning models.
- Works with **NumPy arrays** as well as DataFrames.

❌ **Cons:**
- Needs **separate fitting (`fit_transform()`)**.
- Does not return a DataFrame by default (returns a sparse matrix).
- Requires column names to be manually added.

### **Example using `OneHotEncoder`**
```python
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Sample DataFrame
df = pd.DataFrame({'Color': ['Red', 'Green', 'Blue', 'Red', 'Green']})

# Initialize OneHotEncoder
encoder = OneHotEncoder(drop='first', sparse=False)  # drop='first' avoids dummy variable trap

# Fit and transform
encoded_array = encoder.fit_transform(df[['Color']])

# Convert to DataFrame
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['Color']))

print(encoded_df)
```
#### **Output**:
```
   Color_Green  Color_Red
0         0.0        1.0
1         1.0        0.0
2         0.0        0.0
3         0.0        1.0
4         1.0        0.0
```

👉 The result is a **NumPy array**, so we convert it back to a DataFrame for better readability.

---

## **🔹 Key Differences:**
| Feature               | `pd.get_dummies()` | `OneHotEncoder` |
|----------------------|------------------|----------------|
| **Ease of Use**      | Simple (one line) | Needs `fit_transform()` |
| **Handles Unseen Categories** | ❌ No | ✅ Yes (`handle_unknown='ignore'`) |
| **Returns DataFrame** | ✅ Yes | ❌ No (returns NumPy array by default) |
| **Works with Pipelines** | ❌ No | ✅ Yes |
| **Sparse Output (Memory Efficient)** | ❌ No | ✅ Yes (by default) |
| **Custom Categories** | ❌ No | ✅ Yes (via `categories=` parameter) |

---

## **🔹 When to Use Which?**
| **Use Case** | **Best Choice** |
|-------------|----------------|
| Quick EDA or Small Datasets | `pd.get_dummies()` |
| Large-scale ML Pipelines | `OneHotEncoder` |
| Need to handle unseen categories in test data | `OneHotEncoder` |
| Using **Scikit-learn models** | `OneHotEncoder` |
| Simplicity and direct DataFrame manipulation | `pd.get_dummies()` |

---

## **💡 Final Thought**
If you're working on a **quick prototype** or **small dataset**, go with `pd.get_dummies()`.  
For **production-level ML models**, especially with unseen test data, use `OneHotEncoder`.

---

# **⚡OneHotEncoder on Churn Modelling**

In [13]:
# Importing all the necessary libraries
import pandas as pd
from sklearn.preprocessing import OneHotEncoder 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [17]:
# Load the dataset
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [18]:
# Remove unnecessary columns
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [19]:
# Separate the target variable (y) and features (X)
y = df['Exited'].values
X = df.drop(columns=['Exited'])

In [20]:
print(X.head())
print(y)

   CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0          619    France  Female   42       2       0.00              1
1          608     Spain  Female   41       1   83807.86              1
2          502    France  Female   42       8  159660.80              3
3          699    France  Female   39       1       0.00              2
4          850     Spain  Female   43       2  125510.82              1

   HasCrCard  IsActiveMember  EstimatedSalary
0          1               1        101348.88
1          0               1        112542.58
2          1               0        113931.57
3          0               0         93826.63
4          1               1         79084.10
[1 0 1 ... 1 1 0]

In [28]:

X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [29]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [30]:
X.shape

(10000, 10)

In [31]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 781.4+ KB

In [32]:
X.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000

In [34]:
X.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [35]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [36]:
# One-Hot Encoding for categorical variables
categorical_cols = ['Geography','Gender']
encoder = OneHotEncoder(drop='first')
X_encoded = encoder.fit_transform(X[categorical_cols])
encoded_feature_names = encoder.get_feature_names_out(categorical_cols)
X_encoded_df = pd.DataFrame(X_encoded.toarray(), columns=encoded_feature_names)
X = X.drop(columns=categorical_cols)
X = pd.concat([X, X_encoded_df], axis=1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0.0,0.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0.0,1.0,0.0
2,502,42,8,159660.80,3,1,0,113931.57,0.0,0.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,0.0,0.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0.0,1.0,0.0

In [37]:
# Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-0.32622142,  0.29351742, -1.04175968, ..., -0.57873591,
        -0.57380915, -1.09598752],
       [-0.44003595,  0.19816383, -1.38753759, ..., -0.57873591,
         1.74273971, -1.09598752],
       [-1.53679418,  0.29351742,  1.03290776, ..., -0.57873591,
        -0.57380915, -1.09598752],
       ...,
       [ 0.60498839, -0.27860412,  0.68712986, ..., -0.57873591,
        -0.57380915, -1.09598752],
       [ 1.25683526,  0.29351742, -0.69598177, ...,  1.72790383,
        -0.57380915,  0.91241915],
       [ 1.46377078, -1.04143285, -0.35020386, ..., -0.57873591,
        -0.57380915, -1.09598752]])

In [39]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)
print("X train shape: ", X_train.shape)
print("X test shape: ", X_test.shape)
print("y train shape: ", y_train.shape)
print("y test shape: ", y_test.shape)

X train shape:  (8000, 11)
X test shape:  (2000, 11)
y train shape:  (8000,)
y test shape:  (2000,)

In [42]:

#Initialize the model
model = Sequential()

#  Add layers to the model
model.add(Dense(128, activation="relu", input_dim=11))  # Hidden layer with 128 neurons and ReLU activation
model.add(Dense(32, activation="sigmoid"))  # Hidden layer with 32 neurons and sigmoid activation
model.add(Dense(1, activation="sigmoid"))  # Output layer with 1 neuron and sigmoid activation for binary classification

#  Compile the model
model.compile(optimizer='Adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = model.fit(X_train, y_train, epochs=50)

#  Evaluate the model and print accuracy
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss}")
print(f"Test Accuracy: {accuracy}")

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - accuracy: 0.6375 - loss: 0.6097
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8261 - loss: 0.4123
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8400 - loss: 0.3873
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8523 - loss: 0.3662
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8573 - loss: 0.3503
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8638 - loss: 0.3413
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8656 - loss: 0.3362
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8675 - loss: 0.3337
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8635 - loss: 0.3371
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8722 - loss: 0.3229
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8596 - loss: 0.3393
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8582 - loss: 0.3393
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8602 - loss: 0.3351
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8630 - loss: 0.3370
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8720 - loss: 0.3119
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8597 - loss: 0.3356
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8690 - loss: 0.3262
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8665 - loss: 0.3311
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8692 - loss: 0.3181
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8708 - loss: 0.3226
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8732 - loss: 0.3061
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8732 - loss: 0.3162
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8695 - loss: 0.3151
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8674 - loss: 0.3205
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8685 - loss: 0.3215
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8648 - loss: 0.3151
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8741 - loss: 0.3065
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8743 - loss: 0.3127
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8769 - loss: 0.3078
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8646 - loss: 0.3209
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8732 - loss: 0.3088
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8738 - loss: 0.3147
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8726 - loss: 0.3121
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8749 - loss: 0.3027
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8668 - loss: 0.3141
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8746 - loss: 0.3097
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8807 - loss: 0.2923
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8712 - loss: 0.3106
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8788 - loss: 0.3004
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8748 - loss: 0.2971
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8767 - loss: 0.3050
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8755 - loss: 0.3009
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8812 - loss: 0.2930
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8697 - loss: 0.3015
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8757 - loss: 0.3042
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8752 - loss: 0.3082
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8756 - loss: 0.3019
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8851 - loss: 0.2784
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8755 - loss: 0.3003
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8756 - loss: 0.3014
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8659 - loss: 0.3379
Test Loss: 0.3497092127799988
Test Accuracy: 0.8610000014305115